<div>
    <a [routerLink]="['/dashboard/persona/editar-crear-persona']" mat-button color="primary">
        <mat-icon fontSet="fas" fontIcon="fa-user-plus"></mat-icon>
        <span>Registrar Empleado</span>
    </a>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Lista de Empleados</h4>
                        <!-- <p class="card-category">Sub Titulo</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <mat-tab-group>
                            <mat-tab label="Personas Activas">
                                <!-- <app-listar-clientes [esActivo]="true" (editarCliente)="editarCliente($event)"></app-listar-clientes> -->
                                <app-lista-persona [esActivo]="true" (editarPersona)="editarPersona($event)"></app-lista-persona>
                            </mat-tab>
                            <mat-tab label="Historial de Personas">
                                <!-- <app-listar-clientes [esActivo]="false" (editarCliente)="editarCliente($event)"></app-listar-clientes> -->
                                <app-lista-persona [esActivo]="false" (editarPersona)="editarPersona($event)"></app-lista-persona>
                            </mat-tab>
                        </mat-tab-group>
                    </div>


                    <!-- 
                    <div class="card-body">
                        <app-lista-persona (editarPersona)="editarPersona($event)"></app-lista-persona>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>