<div class="container bootstrap snippets bootdey">

    <div class="col">
        <div class="row">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="row">

                                <div class="col-12 col-sm-auto mb-3">
                                    <div class="user-heading round" style="width: 140px;">
                                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                            <!-- <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->
                                            <img [src]="usuario?.imagenPerfilUrl" style="height: 100%; width: 100%; object-fit: scale-down;" alt="Imagen de Perfil">
                                        </div>
                                        <div *ngIf="fileStatus?.status==='progress'" class="progress mt-1">
                                            <div class="progress-bar bg-info" role="progressbar" [style.width.%]="fileStatus?.percentage" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{fileStatus?.percentage}}%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{usuarioFormulario.get('nombres').value}} {{usuarioFormulario.get('apellidos').value}}</h4>
                                        <!-- <p class="mb-0">@johnny.s</p> -->
                                        <div class="text-muted"><small>{{usuario?.fechaUltimoIngreso}}</small></div>
                                        <div class="mt-2">
                                            <button class="btn btn-primary" type="button" (click)="uploader.click()">
                                                <i class="fa fa-fw fa-camera"></i>
                                                <span>Change Photo</span>
                                            </button>
                                            <input hidden type="file" accept="image/*" multiple="multiple" #uploader name="profileImage" (change)="uploadFile($event.target.files[0])" />
                                            <!-- <input type="file" accept="image/*" multiple="multiple" name="profileImage" (change)="uploadFile($event.target.files[0])" /> -->
                                        </div>
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <span class="badge badge-secondary">administrator</span>
                                        <div class="text-muted"><small>Creado {{usuario?.fechaCreacion}}</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="profile-info col-md-12">

                                    <div class="panel">
                                        <div class="panel-body bio-graph-info">
                                            <h1>Detalle</h1>
                                            <div class="row">
                                                <form [formGroup]="usuarioFormulario">
                                                    <div class="bio-row">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Roles</mat-label>
                                                            <mat-select [compareWith]="compararRol" formControlName="roles">
                                                                <mat-option *ngFor="let rol of roles" [value]="rol">
                                                                    {{rol.descripcion}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="bio-row">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Usuario</mat-label>
                                                            <input matInput type="text" formControlName="usuario" id="usuario">
                                                            <!-- <mat-error *ngIf="hasError('identificacion', 'required')">Name is required</mat-error> -->
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="bio-row">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Nombres</mat-label>
                                                            <input matInput type="text" formControlName="nombres" id="nombres">
                                                            <!-- <mat-error *ngIf="hasError('identificacion', 'required')">Name is required</mat-error> -->
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="bio-row">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Apellidos</mat-label>
                                                            <input matInput type="text" formControlName="apellidos" id="apellidos">
                                                            <!-- <mat-error *ngIf="hasError('identificacion', 'required')">Name is required</mat-error> -->
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="bio-row">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Cargo</mat-label>
                                                            <input matInput type="text" formControlName="cargo" id="cargo">
                                                            <!-- <mat-error *ngIf="hasError('identificacion', 'required')">Name is required</mat-error> -->
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="bio-row">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Email</mat-label>
                                                            <input matInput type="text" formControlName="email" id="email">
                                                            <!-- <mat-error *ngIf="hasError('identificacion', 'required')">Name is required</mat-error> -->
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="bio-row">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Celular</mat-label>
                                                            <input matInput type="text" formControlName="celular" id="celular">
                                                            <!-- <mat-error *ngIf="hasError('identificacion', 'required')">Name is required</mat-error> -->
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="bio-row">
                                                        <section class="example-section">
                                                            <mat-checkbox class="example-margin" formControlName="estado">Activo</mat-checkbox>
                                                            <mat-checkbox class="example-margin" formControlName="snNoBloqueado">No Bloqueado</mat-checkbox>
                                                        </section>
                                                    </div>

                                                    <div class="action-containt">
                                                        <button mat-raised-button color="primary" (click)="onGuardarUsuario()" [disabled]="usuarioFormulario.invalid">Guardar</button>
                                                        <button type="button" mat-raised-button routerLink='/dashboard/perfil' color="warn">Cancelar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <div class="px-xl-3">
                            <button class="btn btn-block btn-secondary">
                                <i class="fa fa-sign-out"></i>
                                <span> Logout</span>
                            </button>
                        </div>
                    </div>
                </div> -->
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title font-weight-bold">Permissions From Role</h6>
                        <h6 *ngFor="let authority of usuario?.roles[0]?.autorizaciones" class="card-text">{{authority.autorizacion}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>