@import "~@fortawesome/fontawesome-free/css/all.css";
table {
    width: 100%;
}

.mat-form-field {
    width: 400px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
    padding: 2px;
}

td {
    padding-right: 8px;
}

.action-containt {
    text-align: center;
}

.more-actions {
    text-align: end;
    margin-right: 13%;
}