<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombreCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCliente}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombreProyecto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Proyecto </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreProyecto}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="avanceProyecto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avance del Proyecto </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-progress-bar mode="determinate" [value]="element.avanceProyecto"></mat-progress-bar>
            {{element.avanceProyecto}}
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cantidadTrabajadores">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de Trabajadores </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.cantidadTrabajadores}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <!-- <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="onEditarPersona(element)">
                <mat-icon fontSet="fas" fontIcon="fa-user-edit"></mat-icon>
            </button>
        </td> -->

        <td mat-cell *matCellDef="let element">
            <button mat-raised-button type="button" matTooltip="Edit Task" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="onEditarCliente(element)">
                <i class="material-icons">edit</i>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
            <!-- <button mat-icon-button color="primary" (click)="onEliminarPersona(element)">
                <mat-icon fontSet="far" fontIcon="fa-trash-alt"></mat-icon>
            </button> -->

            <button mat-raised-button type="button" matTooltip="Remove" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="onEliminarCliente(element)">
                <i class="material-icons">close</i>
            </button>
        </td>
    </ng-container>

    <td class="td-actions text-right">
        <button mat-raised-button type="button" matTooltip="Edit Task" class="btn btn-primary btn-link btn-sm btn-just-icon">
            <i class="material-icons">edit</i>
        </button>
        <button mat-raised-button type="button" matTooltip="Remove" class="btn btn-danger btn-link btn-sm btn-just-icon">
            <i class="material-icons">close</i>
        </button>
    </td>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>