<div class="container bootstrap snippets bootdey">

    <div class="col">
        <div class="row">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="row">

                                <div class="col-12 col-sm-auto mb-3">
                                    <div class="user-heading round" style="width: 140px;">
                                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                            <!-- <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->
                                            <img [src]="data?.imagenPerfilUrl" style="height: 100%; object-fit: scale-down;" alt="Imagen de Perfil">
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{data.nombres}} {{data.apellidos}}</h4>
                                        <!-- <p class="mb-0">@johnny.s</p> -->
                                        <div class="text-muted"><small>{{data.fechaUltimoIngreso}}</small></div>
                                        <div class="mt-2">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-fw fa-camera"></i>
                                                <span>Change Photo</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <span class="badge badge-secondary">administrator</span>
                                        <div class="text-muted"><small>Creado {{data.fechaCreacion}}</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="profile-info col-md-12">

                                    <div class="panel">
                                        <div class="panel-body bio-graph-info">
                                            <h1>Detalle</h1>
                                            <div class="row">
                                                <div class="bio-row">
                                                    <p><span>Nombres </span>: {{data.nombres}}</p>
                                                </div>
                                                <div class="bio-row">
                                                    <p><span>Apellidos </span>: {{data.apellidos}}</p>
                                                </div>
                                                <div class="bio-row">
                                                    <p><span>Occupation </span>: {{data.cargo}}</p>
                                                </div>
                                                <div class="bio-row">
                                                    <p><span>Email </span>: {{data.email}}</p>
                                                </div>
                                                <div class="bio-row">
                                                    <p><span>Phone </span>: {{data.celular}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <div class="px-xl-3">
                            <button class="btn btn-block btn-secondary">
                                <i class="fa fa-sign-out"></i>
                                <span> Logout</span>
                            </button>
                        </div>
                    </div>
                </div> -->
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title font-weight-bold">Permissions From Role</h6>
                        <h6 *ngFor="let authority of data.roles[0]?.autorizaciones" class="card-text">{{authority.autorizacion}}</h6>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="px-xl-3">

                            <button class="btn btn-block btn-secondary">
                                <i class="fa fa-edit"></i>
                                <span> Editar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>