<div>
    <a [routerLink]="['/dashboard/cliente/editar-crear-cliente']" mat-button color="primary">
        <mat-icon fontSet="fas" fontIcon="fa-user-plus"></mat-icon>
        <span>Crear Cliente</span>
    </a>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-text card-header-warning">
                        <div class="card-text">
                            <h4 class="card-title">Registro de Clientes</h4>
                            <p class="card-category">{{fechaActual | date: "medium"}}</p>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <mat-tab-group>
                            <mat-tab label="Clientes Activos">
                                <app-listar-clientes [esActivo]="true" (editarCliente)="editarCliente($event)"></app-listar-clientes>
                            </mat-tab>
                            <mat-tab label="Historial de Clientes">
                                <app-listar-clientes [esActivo]="false" (editarCliente)="editarCliente($event)"></app-listar-clientes>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>