<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{usuarioLogin}}</h2>
            <h4>example@email.com</h4>
        </div>

        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto de Perfil">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="list-item-active">Dashboard</a>
    <a mat-list-item [routerLink]="['/dashboard/perfil']" routerLinkActive="list-item-active">Perfil</a>
    <a mat-list-item [routerLink]="['/dashboard/persona']" routerLinkActive="active">Persona</a>
    <a mat-list-item [routerLink]="['/dashboard/info-contrato']" routerLinkActive="active">Información Contrato</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item [routerLink]="['/contact']" routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon> Contactos
    </a>
</mat-nav-list>