<div class="logo">
    <a [routerLink]="['/dashboard']" class="simple-text">
        <!-- <div class="logo-img">
            <img src="../../../assets/img/angular2-logo-red.png" />
        </div> -->
        {{usuarioLogin}}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li nav-item>
            <a mat-list-item class="nav-link" [routerLink]="['/dashboard']">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li nav-item routerLinkActive="active">
            <a mat-list-item class="nav-link" [routerLink]="['/dashboard/perfil']">
                <i class="material-icons">person</i>
                <p>Perfil</p>
            </a>
        </li>

        <li nav-item routerLinkActive="active">
            <a mat-list-item class="nav-link" [routerLink]="['/dashboard/persona']">
                <i class="material-icons">group</i>
                <p>Empleados</p>
            </a>
        </li>

        <li nav-item routerLinkActive="active">
            <a mat-list-item class="nav-link" [routerLink]="['/dashboard/cliente']">
                <i class="material-icons">business</i>
                <p>Clientes</p>
            </a>
        </li>

        <li nav-item routerLinkActive="active">
            <a mat-list-item class="nav-link" [routerLink]="['/dashboard/reportes']">
                <i class="material-icons">insert_drive_file</i>
                <p>Reportes</p>
            </a>
        </li>
    </ul>
</div>