<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <h4 class="card-title">Usuarios</h4>
                    </div>
                    <div class="card-body">
                        <app-listar-usuarios></app-listar-usuarios>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>