<div class="container-custom sign-in-mode">
    <div class="forms-container">
        <div class="signin-signup">
            <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="usuario" placeholder="Usuario">
                    <mat-icon matPrefix class="fas fa-user"></mat-icon>
                    <mat-error *ngIf="checkError('usuario', 'required')">El <strong>Usuario</strong> es requerido</mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Clave</mat-label>
                    <input matInput formControlName="clave" type="password" placeholder="Clave">
                    <mat-icon matPrefix class="fas fa-lock"></mat-icon>
                    <mat-error *ngIf="checkError('clave', 'required')">La <strong>Clave</strong> es requerida</mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
                <p class="social-text">Or Sign in with social platforms</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Eres nuevo por aqui ?</h3>
                <p>
                    Registrate y administra con mayor agilidad!
                </p>
                <button class="btn transparent" id="sign-up-btn" routerLink='/registro'>
                    Registrarse
                </button>
            </div>
            <img src="../../../../assets/img/login.svg" class="image" alt="" />
        </div>
    </div>
</div>